@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Arimo', sans-serif;
}

.component-container {
  margin-top: 3.75rem; /* mt-15 */
  padding-left: 1rem; /* px-12 */
  padding-right: 1rem; /* px-12 */
}

@media (min-width: 1024px) {
  .component-container {
    margin-top: 238px; /* lg:mt-20 */
    padding-left: 147px;
    padding-right: 147px;
  }
}

/* Embla Carousel base styles */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;

  /* Estilos responsive - MUY IMPORTANTE */
  width: 100%; /* 1 slide por defecto en móvil */
}

/* Responsive breakpoints */
@media (min-width: 640px) {
  .embla__slide {
    width: 50%; /* 2 slides en tablets pequeñas */
  }
}

@media (min-width: 768px) {
  .embla__slide {
    width: 33.333%; /* 3 slides en tablets */
  }
}

@media (min-width: 1280px) {
  .embla__slide {
    width: 25%; /* 4 slides en desktop */
  }
}

@font-face {
  font-family: serotiva;
  src: url('/fonts/Serotiva-Regular.ttf');
}

.serotiva {
  font-family: serotiva;
}
