@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.component-container {
  margin-top: 3.75rem; /* mt-15 */
  padding-left: 1rem; /* px-12 */
  padding-right: 1rem; /* px-12 */
}

@media (min-width: 1024px) {
  .component-container {
    margin-top: 5rem; /* lg:mt-20 */
    padding-left: 3.5rem; /* lg:px-14 */
    padding-right: 3.5rem; /* lg:px-14 */
  }
}
